nav.breadcrumb(aria-label='breadcrumbs')
  ul
    li
      a(href='#') Bulma
    li
      a(href='#') Documentation
    li
      a(href='#') Components
    li.is-active
      a(href='#', aria-current='page') Breadcrumbss

.
h1(class="title")=title
  p(class="subtitle is-6") #{message}
