doctype html
html
  head
    title=title

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='icon', type='image/png', href='favicon.png')

    block hcontent

  body
    section(class="container")
      include includes/header.pug
      block content
      include includes/footer.pug
