extends layout
block hcontent
  script(language="javascript" src="javascripts/jquery.min.js")
  script(language="javascript" src="javascripts/upload.js")
  script(language="javascript") window.uploadHandler.initUploadControl();

block content
  form(id="fileform" method="post" enctype="multipart/form-data")
    .file.has-name.is-fullwidth
      label.file-label
        input.file-input(type='file', id='file', name='file' multiple)
        span.file-cta
          span.file-icon
            i.fa.fa-upload
          span.file-label Choose a file…
        span.file-name(id='filename') 0 file(s) selected
        button(class="ui fluid large teal button" type="submit") Upload

  table(class="table is-fullwidth is-hoverable")
    tbody(id='filelist')
